name: test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '8', '11', '17' ]
    defaults:
      run:
        working-directory: compiler
    steps:
      - uses: actions/checkout@v3
        with:
          path: compiler
      - uses: actions/checkout@v3
        with:
          repository: kaitai-io/kaitai_struct_tests
          path: tests
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - name: Run tests
        run: sbt test
